name: Lint
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version-file: ".nvmrc"
          cache: "yarn"
      - name: Install Yarn v3
        run: |
          corepack enable
          corepack prepare yarn@3.6.3 --activate
      - run: yarn
      - run: yarn build
      - run: yarn lint
